.advantages {
  position: relative;
  padding-top: 87px;
  padding-bottom: 120px;
  font-family: "Montserrat", "Arial", sans-serif;

  @include vp-1023 {
    padding-top: 70px;
    padding-bottom: 100px;
  }

  @include vp-374 {
    padding-top: 40px;
    padding-bottom: 65px;
  }
}

.advantages img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: $color-grey-nurse;
}

.advantages h2 {
  position: relative;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: $color-tangaroa;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-374 {
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 36px;
  }
}

.advantages__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  row-gap: 30px;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.advantages__item {
  width: 31%;
  height: auto;
  padding: 30px 30px 25px;
  background-color: $color-alice-blue;
  list-style-type: none;

  @include vp-1023 {
    padding: 25px 16px 25px 20px;
  }

  @include vp-767 {
    width: 100%;
    padding-bottom: 18px;
  }
}

.advantages__icon-ship {
  margin-bottom: 18px;

  @include vp-1023 {
    margin-bottom: 13px;
    width: 21px;
    height: 26px;
  }
}

.advantages__icon-two-checkmarks {
  margin-bottom: 24px;

  @include vp-1023 {
    width: 33px;
    height: 19px;
    margin-bottom: 22px;
  }
}

.advantages__icon-zodiac {
  margin-bottom: 27px;

  @include vp-1023 {
    width: 38px;
    height: 13px;
  }
}

.advantages__item h3 {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: $color-tangaroa;

  @include vp-767 {
    max-width: 190px;
    width: 100%;
  }
}

.advantages__item p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-tangaroa;
}
