.advantages {
  position: relative;
  padding-top: 87px;
  padding-bottom: 120px;
  font-family: "Montserrat", "Arial", sans-serif;

  @include vp-1023 {
    padding-top: 70px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 38px;
    padding-bottom: 35px;
  }
}

.advantages__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-morning-glory;
  text-indent: -100vw;
}

.advantages__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.advantages h2 {
  position: relative;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: $color-tangaroa;

  @include vp-1023 {
    margin-top: 18px;
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    margin-bottom: 31px;
    font-size: 24px;
    line-height: 36px;
  }
}

.advantages__list {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 40px;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;

  @include vp-1023 {
    column-gap: 30px;
  }

  @include vp-767 {
    row-gap: 0;
  }
}

.advantages__item {
  max-width: 360px;
  min-width: 206px;
  height: auto;
  padding: 30px 30px 25px;
  background-color: $color-alice-blue;
  list-style-type: none;

  @include vp-1023 {
    max-width: 206px;
    padding: 25px 16px 20px 20px;
  }

  @include vp-767 {
    width: 100%;
    max-width: none;
    margin-bottom: 30px;
    padding-bottom: 20px;
  }
}

.advantages__icon-ship {
  margin-top: 2px;
  margin-left: -3px;
  margin-bottom: 16px;

  @include vp-1023 {
    margin-bottom: 13px;
    width: 21px;
    height: 26px;
  }
}

.advantages__icon-two-checkmarks {
  margin-top: 5px;
  margin-bottom: 18px;

  @include vp-1023 {
    width: 33px;
    height: 19px;
    margin-top: 3px;
    margin-left: 2px;
    margin-bottom: 16px;
  }

  @include vp-767 {
    margin-top: 5px;
    margin-bottom: 16px;
  }
}

.advantages__icon-zodiac {
  margin-top: 5px;
  margin-bottom: 24px;

  @include vp-1023 {
    margin-top: 6px;
    margin-left: 4px;
    margin-bottom: 20px;
    width: 38px;
    height: 13px;
  }

  @include vp-767 {
    margin-top: 8px;
    margin-bottom: 20px;
  }
}

.advantages__item h3 {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: $color-tangaroa;

  @include vp-767 {
    max-width: 190px;
    width: 100%;
  }
}

.advantages__item p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-tangaroa;
}
