.contacts {
  padding-top: 120px;
  padding-bottom: 120px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: $color-tangaroa;

  @include vp-1023 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-374 {
    padding-top: 65px;
    padding-bottom: 65px;
  }
}

.contacts__text {

}

.contacts__text p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
