body {
  background-color: red;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include  vp-767 {
  }

  @include  vp-374 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.header__logo {
  display: flex;
  margin-right: 20px;

  @include vp-374 {
    margin-right: auto;
  }
}

.header__logo svg {
  @include vp-767 {
    width: 38px;
    height: 20px;
  }

  @include vp-374 {
    width: 42px;
    height: 22px;
    fill: $color-tangaroa;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;

  @include vp-767 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @include vp-374 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 43px;
    width: 285px;
    height: 100vh;
    margin-left: auto;
    margin-right: -15px;
    padding: 20px 15px;
    background-color: $color-alice-blue;
  }
}

.header__wrapper--closed {
  @include vp-767 {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
  }

  @include vp-374 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 0;
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    padding: 20px 15px;
    background-color: transparent;
  }
}

.header__toggle {
  display: none;

  @include vp-374 {
    position: absolute;
    top: 20px;
    right: 10px;
    display: block;
    margin-left: auto;
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.header__menu-closed {
  display: none;
}

.header__nav {
  position: absolute;
  display: flex;
  top: 25px;
  left: 0;
  width: 285px;
  z-index: 5;
  background-color: $color-default-white;
}

.header__wrapper--closed .header__list {
  @include vp-374 {
    display: none;
  }
}

.header__wrapper--opened .header__list {
  display: flex;
}

.header__wrapper--closed .header__menu-opened {
  @include vp-374 {
    display: none;
  }
}

.header__wrapper--closed .header__menu-closed {
  @include vp-374 {
    display: block;
  }
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 33px;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;

  @include vp-767 {
    column-gap: 23px;
  }

  @include vp-374 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 28px;
    flex-grow: 1;
  }
}

.header__item {
  list-style-type: none;
}

.header__link {
  text-decoration: none;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $color-alice-blue;

  @include vp-767 {
    font-size: 14px;
    line-height: 17px;
  }

  @include vp-374 {
    font-size: 18px;
    line-height: 22px;
    color: $color-tangaroa;
  }
}
