.header {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

  @include vp-767 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.header__logo {
  display: flex;
  margin-right: 20px;

  @include vp-767 {
    margin-right: auto;
  }
}

.header__logo svg {
  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
    fill: $color-tangaroa;
  }
}

.header__wrapper {
  /*
  display: flex;
  justify-content: space-between;
  align-items: center;
  */
  height: auto;
  width: 100%;
  padding-top: 34px;
  padding-bottom: 30px;

  @include vp-1023 {
    padding-top: 28px;
    padding-bottom: 20px;
  }

  @include vp-767 {
    /*
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 43px;

    max-width: 285px;
    width: 100%;
    margin-left: auto;
    margin-right: -15px;
    padding: 20px 15px;
    background-color: $color-alice-blue;
    */
  }
}

.header__wrapper--closed {
  @include vp-1023 {
    width: 100%;
    height: auto;
    background-color: transparent;
  }

  @include vp-767 {
    /*
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 0;
    */
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 20px 0;
    background-color: transparent;
  }
}

.header__wrapper--opened {
  @include vp-767 {
    height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
    background-color: $color-tangaroa-transparency-5;
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;

  @include vp-767 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 43px;
    max-width: 285px;
    width: 100%;
    //margin-left: auto;
    //margin-right: -15px;
    //padding: 20px 15px;
  }
}

.header__wrapper--opened .header__content {
  @include vp-767 {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 0;
    margin-left: auto;
    margin-right: -15px;
    padding: 20px 15px;
    background-color: $color-alice-blue;
  }
}

.header__toggle {
  display: none;

  @include vp-767 {
    position: absolute;
    top: 20px;
    right: 10px;
    margin-left: auto;
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &:hover,
  &:focus {
    background-color: $color-morning-glory;
    border-radius: 4px;
  }
}

.header__menu-closed {
  display: none;
}

.header__nav {
  position: absolute;
  display: flex;
  top: 25px;
  left: 0;
  width: 285px;
  z-index: 5;
  background-color: $color-default-white;
}

.header__wrapper--closed .header__toggle,
.header__wrapper--opened .header__toggle {
  @include vp-767 {
    display: block;
  }
}

.header__wrapper--closed .header__logo-svg {
  fill: $color-alice-blue;
}

.header__wrapper--closed .header__list {
  @include vp-767 {
    display: none;
  }
}

.header__wrapper--opened .header__list {
  display: flex;
  width: 100%;
  margin-left: 10px;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.header__wrapper--closed .header__menu-opened {
  @include vp-767 {
    display: none;
  }
}

.header__wrapper--closed .header__menu-closed {
  @include vp-767 {
    display: block;
  }
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 33px;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;

  @include vp-1023 {
    column-gap: 23px;
  }

  @include vp-767 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 26px;
    flex-grow: 1;
  }
}

.header__item {
  list-style-type: none;
}

.header__link {
  text-decoration: none;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $color-alice-blue;

  &:hover,
  &:focus {
    color: $color-royal-blue;
    outline: none;
  }

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
    color: $color-tangaroa;
  }
}
