/* TEXT */
.input-text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.input-text input {
  position: relative;
  flex-grow: 1;
  padding: 16px 11px;
  width: 100%;
  height: 43px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-tangaroa;
  border: none;
  box-sizing: border-box;

  &:hover,
  &:focus {
    outline: 5px solid $color-royal-blue;
  }
}

.input-text input::placeholder {
  color: $color-tangaroa-transparency;
}

/* CHECKBOX */

.input-checkbox {
  position: relative;
  display: flex;
  align-items: center;

  @include vp-767 {
    align-items: flex-start;
  }
}

.input-checkbox input {
  position: relative;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  margin: 0 5px 0 0;
  border: none;
  box-sizing: border-box;
  opacity: 0;
  z-index: 1;

  @include vp-767 {
    margin-right: 10px;
  }
}

.input-checkbox span {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  box-sizing: border-box;
  background-color: $color-alice-blue;
}

.input-checkbox svg {
  display: none;
  position: absolute;
  top: 50%;
  left: 9px;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  content: "";
}

.input-checkbox input:checked ~ svg {
  display: block;
}

.input-checkbox label {
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: $color-alice-blue;
}

.input-checkbox input:hover ~ span,
.input-checkbox input:focus ~ span {
  outline: 5px solid $color-royal-blue;
}

.input-checkbox input:disabled ~ span,
.input-checkbox input:disabled ~ label {
  opacity: 0.3;
}
