/* TEXT */
.input-text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.input-text input {
  position: relative;
  flex-grow: 1;
  padding: 16px 11px;
  width: 100%;
  height: 43px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-tangaroa;
  border: none;
  box-sizing: border-box;
}

.input-text input::placeholder {
  color: $color-tangaroa-transparency;
}

.input-text input:hover,
.input-text input:focus {
  outline: 5px solid $color-neon-blue;
}

/* RADIO */

.input-radio {
  display: flex;
  align-items: center;
}

.input-radio input {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  margin: 0 5px 0 0;
  border: none;
  box-sizing: border-box;
  opacity: 0;
}

.input-radio span {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  box-sizing: border-box;
  background-color: $color-alice-blue;
}

.input-radio input ~ span svg {
  display: none;
}

.input-radio input:checked ~ span svg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  content: "";
}

.input-radio label {
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: $color-alice-blue;
}

.input-radio input:hover ~ .input-radio span,
.input-radio input:focus ~ .input-radio span {
  outline: 5px solid $color-neon-blue;
}

.input-radio__input:disabled,
.input-radio__input:disabled ~ .input-radio label {
  opacity: 0.3;
}
